<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
</head>
<body ng-app="employee-portal">
<hr/>
<div class="container" ng-controller="EmployeeController">


    <button ng-click="showAllEmployees()">Display All Employees</button>
    <br/>
    <br/>
    <table>
        <th> Employee Details</th>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>DateOfBirth</th>
            <th>Department</th>
        </tr>
        <tr ng-repeat="employee in employees">
            <div>
                <td>{{employee.firstname}}</td>
            </div>
            <div>
                <td>{{employee.lastname}}</td>
            </div>
            <div>
                <td>{{employee.gender}}</td>
            </div>
            <div>
                <td>{{employee.dob}}</td>
            </div>
            <div>
                <td>{{employee.department}}</td>
            </div>
        </tr>
    </table>
</div>
</body>
<script src="js/angular.min.js"></script>
<script src="js/ui-bootstrap-tpls.js"></script>
<script src="js/employeeportal.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/employeeportal.css"/>
</html>